---
# Front matter comment to ensure Jekyll properly reads file.
---

//Media Query break points

@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

//Useful mixins

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
}

@mixin horizontal-align($position: relative) {
  position: $position;
  left: 50%;
  transform: perspective(1px) translateX(-50%);
}


//Colour definitions

$white: rgb(255,255,255);
$black: rgb(0,0,0);
$monza: rgb(196,0,35);
$midnight: rgb(0,27,71);
$bright-turquoise: rgb(30,226,237);


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Catamaran', sans-serif;
}

h2 {
  font-size: 2em;
  font-weight: 300;
}

h3 {
  font-size: 1.5em;
  font-weight: 300;
}

.page-title {
  height: 40vh;
}

.page-title-text {
  @include vertical-align();
}

#speakers-page-title {
  background: url(/assets/img/speakers_banner.jpg) no-repeat center center;
  background-size: cover;
  color: $white;
  text-align: right;
  padding: 0 4em 0 0;
}

#venues-page-title {
  background: url(/assets/img/cedars_banner.jpg) no-repeat center center;
  background-size: cover;
  color: $white;
  text-align: left;
  text-shadow: 1px 1px 5px rgb(123,123,123);
  padding: 0 0 0 8em;
}

header {
  height: 8vh;
  width: 100%;
  float: left;
  background-color: rgba($black,0.4);
}

.brand {
  color: $white;
  padding: 0 1rem;
  float: left;
  letter-spacing: .1em;
  font-weight: bold;
  @include vertical-align();
}

.brand a {
  text-decoration: none;
  color: inherit;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 2em;
}

nav {
  float: right;
  margin-right: 3em;
  text-transform: uppercase;
  color: $white;
  @include vertical-align();

  @include for-tablet-landscape-up {
    margin-right: 5em;
  }
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin: 0 2em;
  font-weight: bold;
}

nav ul li a {
  text-decoration: none;
  color: $white;
}

nav ul li a:hover {
  color: $monza;
}

.speaker-list {
  display: flex;
  flex-wrap: wrap;
  margin: 1em 2em;

  @include for-desktop-up {
    margin: 2em 4em;
  }
}

.splash {
  height: 100vh;
  background: url(/assets/img/cedarssplash.png) no-repeat center center;
  background-size: cover;
}

.splash-info {
  margin: 0 7em;
  padding: 3em;
  color: $white;
  background: rgba($black,.4);
  background: linear-gradient(to bottom right, rgba($black,.7), rgba($black,.1));
  @include vertical-align();

  @include for-phone-only{
    margin: 0 2em;
    padding: 1.5em;
  };
}

.ai {
  color: $monza;
}

.event {
  margin-bottom: 2em;
}

.event-time {
  line-height: normal;
  font-size: 2em;
}

.event-time_start {
  margin-left: 2em;
}

.event-title {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 2em;
  font-weight: bold;
  letter-spacing: .1em;
  padding: .2em 0;
}

.event-strapline {
  line-height: normal;
  font-size: 1.7em;
}

.tiles {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: $black;
}

.tiles h2 {
  color: $monza;
}

.tiles p {
  font-size: 1.6em;
  font-weight: normal;
  text-transform: none;
}

.tile-info {
  width: 100%;
}

.tile-split {
  display: flex;
  flex-direction: column;

  @include for-tablet-landscape-up {
    flex-direction: row;
  }
}

.tile-text, .tile-image {
  flex: 1;
  flex-basis: 50%;
  background-color: $midnight;
  color: $white;
  height: 40vh;

  @include for-tablet-landscape-up {
    height: 100vh;
  }
}

.tile-info {
  height: 40vh;
}

.tile-content {
  @include vertical-align();
}

#vicars_close {
  background: url(/assets/img/vicars_aerial.png) no-repeat center center;
  background-size: cover;
}

#eavis_auditorium {
  background: url(/assets/img/cedars_eavis.png) no-repeat center center;
  background-size: cover;
}

.speaker {
  flex: 0 1 100%;
  margin: 0.5em 0;
  text-align: center;
  justify-content: space-between;
  background-color: rgb(220,220,220);

  @include for-tablet-portrait-up {
    flex: 0 1 calc(33% - 1em);
    margin: 0.5em;
  }

  @include for-tablet-landscape-up {
    flex: 0 1 calc(25% - 1em);
    margin: 0.5em;
  }

  @include for-desktop-up {
    flex: 0 1 calc(20% - 1em);
    margin: 0.5em;
  }
}

.speaker img {
  width: 100%;
  filter: grayscale(1);
  transition: all 0.5s ease;
}

.speaker img:hover {
  filter: grayscale(0);
}

.speaker a {
  text-decoration: none;
  color: $monza;
}

.speaker a:hover {
  color: lighten($monza, 10%);
}

.speaker-info {
  padding-left: 3em;
}

.speaker-info h1 {
  font-size: 3em;
  font-weight: 300;
  padding: 0;
  margin: 0;

  @include for-tablet-landscape-up {
    font-size: 4em;
  }
}

.speaker-info h2 {
  font-size: 1.5em;
  font-weight: 300;
  color: rgb(172,172,172);

  @include for-tablet-landscape-up {
    font-size: 2em;
  }
}

.speaker-details, .speaker-personal {
  display: flex;
  flex-direction: column;

  @include for-tablet-landscape-up {
    flex-direction: row;
  }
}

.speaker-image, .speaker-events, .speaker-about, .speaker-web {
  flex: 1;
  flex-basis: 100%;
  min-height: 50vh;
  padding: 1em;

  @include for-tablet-landscape-up {
    flex-basis: 50%;
    padding: 2em;
  }
}

.speaker-image img {
  width: 80%;
  padding: 2em 0;
  @include horizontal-align();

  @include for-tablet-landscape-up {
    width: 70%;
  }
}

.speaker-web ul {
  list-style: none;
}

.speaker-web-title {
  display: inline-block;
  width: 5em;
}

.event-type {
  display: inline-block;
  background-color: $bright-turquoise;
  border-radius: .2em;
  padding: 0 .5em;
  color: $white;
}

.type-keynote {
  background-color: $monza;
}

.venue-box {
  display: flex;
}

.venue-text, .venue-img {
  flex: 1;
  flex-basis: 50%;
  min-height: 50vh;
}

.venue-text {
  padding: 2em;
}

#venue-cedars {
  background: url(/assets/img/cedars_foyer.png) no-repeat center center;
  background-size: cover;
}

#venue-quilter {
  background: url(/assets/img/cedars_meeting.png) no-repeat center center;
  background-size: cover;
}

#venue-cathedral {
  background: url(/assets/img/cath_aerial.png) no-repeat center center;
  background-size: cover;
}

#venue-map {
  background: url(/assets/img/cath_aerial.png) no-repeat center center;
  background-size: cover;
}

#venue-nearby {
  background: url(/assets/img/cath_aerial.png) no-repeat center center;
  background-size: cover;
}

footer {
  clear: both;
  border-top: .5em solid $monza;
  display: flex;
  flex-direction: column;

  @include for-tablet-landscape-up {
    flex-direction: row;
  }
}

#footer-logo {
  flex: 1;
  padding: 1em;
  flex-basis: 100%;

  @include for-desktop-up {
    flex-basis: 33%;
  }
}

#footer-content {
  flex: 1;
  flex-basis: 100%;
  padding: 1em;

  @include for-desktop-up {
    flex-basis: 33%;
  }
}

#footer-signup {
  flex: 1;
  padding: 1em;
  flex-basis: 100%;

  @include for-desktop-up {
    flex-basis: 33%;
  }
}

footer .logo {
  height: 15vh;
  margin: auto;

  @include for-desktop-up {

  }
}
