<footer>
  <div class="footer-box" id="footer-logo">
    <a href="https://wells.cathedral.school"><img src="/assets/img/WCS_logo.png" alt="Wells Cathedral School" class="logo"></a>
  </div>
  <div class="footer-box" id="footer-content">
    <p>AI Conf is brought to you by Wells Cathedral School. Despite having been
      around since before the Norman Conquest, we like to think we're still at the
      cutting edge.</p>
    <p>&copy; Wells Cathedral School 2017</p>
  </div>
  <div class="footer-box" id="footer-signup">
    <h3>Sign up for updates</h3>
  </div>
</footer>
