<nav class="navBar">
  <nav class="wrapper">
    <div class="brand">
      <a href="/"><span class="ai">AI</span>Conf<span class="ai">.</span></a>
    </div>
    <input type="checkbox" id="menu-toggle">
      <label for="menu-toggle" class="label-toggle"></label>
    </input>
    <ul>
      <li><a href="/speakers">Speakers</a></li>
      <li><a href="/schedule">Schedule</a></li>
      <li><a href="/venues">Venues</a></li>
      <li><a href="/sponsorship">Sponsorship</a></li>
    </ul>
  </nav>
</nav>
