<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon">

  <meta property="og:title" content="AIConf - exploring the future of education"/>
  <meta property="og:image" content="https://aiconf.org/assets/img/ogsplash.png"/>
  <meta property="og:image:alt" content="AIConf - https://aiconf.org - 18th to 19th May 2018"/>
  <meta property="og:description" content="What will education look like in 20 years? How will you manage the change? Heads, Principals, CEOs, Senior Leaders, Governors - this conference is for you."/>
  <meta property="og:url" content="https://aiconf.org" />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@wellscathschool" />
  <meta name="twitter:title" content="AIConf - exploring the future of education" />
  <meta name="twitter:description" content="What will education look like in 20 years? How will you manage the change? Heads, Principals, CEOs, Senior Leaders, Governors - this conference is for you." />
  <meta name="twitter:image" content="https://aiconf.org/assets/img/ogsplash.png" />

  <title>AIConf</title>
  <link href="/css/styles.css" rel="stylesheet">
</head>
