* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Catamaran', sans-serif;
}

h2 {
  font-size: 2em;
  font-weight: 300;
}

h3 {
  font-size: 1.5em;
  font-weight: 300;
}

header {
  height: 8vh;
  width: 100%;
  float: left;
  background-color: rgba(0,0,0,0.4);
}

.brand {
  color: rgb(255,255,255);
  padding: 0 1rem;
  float: left;
  letter-spacing: .1em;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
}

.brand a {
  text-decoration: none;
  color: inherit;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 2em;
}

nav {
  float: right;
  margin-right: 5em;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin: 0 2em;
  font-weight: bold;
}

nav ul li a {
  text-decoration: none;
  color: rgb(255,255,255);
}

nav ul li a:hover {
  color: rgb(196,0,35);
}

.ai {
  color: rgb(196,0,35);
}

.splash {
  height: 100vh;
  background: url(/assets/img/cedarssplash.png) no-repeat center center;
  background-size: cover;
}

.splash-info {
  margin: 0 7em;
  padding: 3em;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(255, 255, 255);
  background: rgba(0,0,0,.4);
  background: linear-gradient(to bottom right, rgba(0,0,0,.7), rgba(0,0,0,.1));
}

.event-time {
  line-height: normal;
  font-size: 2em;
}

.event-title {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 5em;
  font-weight: bold;
  letter-spacing: .1em;
}

.event-strapline {
  line-height: normal;
  font-size: 1.7em;
}

.tiles {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(0,0,0);
}

.tiles h2 {
  color: rgb(196,0,35);
}

.tiles p {
  font-size: 1.6em;
  font-weight: normal;
  text-transform: none;
}

.tile-info {
  width: 100%;
}

.tile-split {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tile-text, .tile-image {
  flex: 1 0px;
  height: 100vh;
  background-color: rgb(0,27,71);
  color: rgb(255,255,255);
}

.tile-info {
  height: 40vh;
}

.tile-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#vicars_close {
  background: url(/assets/img/vicars_aerial.png) no-repeat center center;
  background-size: cover;
}

#eavis_auditorium {
  background: url(/assets/img/cedars_eavis.png) no-repeat center center;
  background-size: cover;
}

.page-title {
  height: 40vh;
}

.page-title-text {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#speakers-page-title {
  background: url(/assets/img/speakers_banner.jpg) no-repeat center center;
  background-size: cover;
  color: rgb(255,255,255);
  text-align: right;
  padding: 0 4em 0 0;
}

#venues-page-title {
  background: url(/assets/img/cedars_banner.jpg) no-repeat center center;
  background-size: cover;
  color: rgb(255,255,255);
  text-align: left;
  text-shadow: 1px 1px 5px rgb(123,123,123);
  padding: 0 0 0 8em;
}

.speaker-list {
  display: flex;
  flex-wrap: wrap;
  margin: 2em 4em;
}

.speaker {
  flex: 0 1 calc(20% - 1em);
  text-align: center;
  justify-content: space-between;
  margin: 0.5em;
  background-color: rgb(220,220,220);
}

.speaker img {
  width: 100%;
  filter: grayscale(1);
  transition: all 0.5s ease;
}

.speaker img:hover {
  filter: grayscale(0);
}

.speaker a {
  text-decoration: none;
  color: rgb(196,0,35);
}

.speaker a:hover {
  color: rgb(224,0,41);
}

.speaker-info {
  padding-left: 3em;
}

.speaker-info h1 {
  font-size: 4em;
  font-weight: 300;
  padding: 0;
  margin: 0;
}

.speaker-info h2 {
  font-size: 2em;
  font-weight: 300;
  color: rgb(172,172,172);
}

.speaker-details, .speaker-personal {
  display: flex;
}

.speaker-image, .speaker-events, .speaker-about, .speaker-web {
  flex: 1;
  flex-basis: 50%;
  min-height: 50vh;
  padding: 2em;
}

.speaker-image img {
  position: relative;
  width: 60%;
  left: 50%;
  transform: translateX(-50%);
  padding: 2em 0;
}

.speaker-web ul {
  list-style: none;
}

.speaker-web-title {
  display: inline-block;
  width: 5em;
}

.venue-box {
  display: flex;
}

.venue-text, .venue-img {
  flex: 1;
  flex-basis: 50%;
  min-height: 50vh;
}

.venue-text {
  padding: 2em;
}

#venue-cedars {
  background: url(/assets/img/cedars_foyer.png) no-repeat center center;
  background-size: cover;
}

#venue-quilter {
  background: url(/assets/img/cedars_meeting.png) no-repeat center center;
  background-size: cover;
}

#venue-cathedral {
  background: url(/assets/img/cath_aerial.png) no-repeat center center;
  background-size: cover;
}

#venue-map {
  background: url(/assets/img/cath_aerial.png) no-repeat center center;
  background-size: cover;
}

#venue-nearby {
  background: url(/assets/img/cath_aerial.png) no-repeat center center;
  background-size: cover;
}

footer {
  clear: both;
  border-top: .5em solid rgb(196,0,35);
  display: flex;
}

#footer-logo {
  flex: 1;
  flex-basis: 33%;
  padding: 1em;
}

#footer-content {
  flex: 1;
  flex-basis: 33%;
  padding: 1em;
}

#footer-signup {
  flex: 1;
  padding: 1em;
  flex-basis: 33%;
}

footer .logo {
  height: 15vh;
  margin: auto;
}
