---
layout: default
---

<main>
  <section class="splash">
    <div class="splash-info">
      <div class="splash-time"><time datetime="2018-05-18" class="dt-start">18-19 May 2018</time></div>
      <div class="splash-title"><span class="ai">AI</span>Conf<span class="ai">.</span></div>
      <div class="splash-strapline">An exploration of the future of education : how AI and Machine Learning will change our lives</div>
    </div>
  </section>
  <section class="tiles">
    <article class="tile tile-info">
      <div class="tile-content">
        <h2>A conference for leaders</h2>
        <p>Heads, Principals, CEOs, Senior Leaders, Governors - this conference is for you.</p>
        <p>What will education look like in 20 years? How will you manage the change?</p>
      </div>
    </article>
    <article class="tile-split">
      <div id="vicars_close" class="tile-image">
      </div>
      <div class="tile-text">
        <div class="tile-content">
          <h2>Wells, Somerset</h2>
          <p>England's smallest city, in the heart of the somerset countryside. A perfect blend of anicent and modern.</p>
        </div>
      </div>
    </article>
    <article class="tile tile-info">
      <div class="tile-content">
        <h2>Insights from Industry Leaders</h2>
        <p>Keynote speeches and workshops from those who are shaping the future of education and those who are pushing the boaundaries of Machine Learning.</p>
      </div>
    </article>
    <article class="tile-split">
      <div class="tile-text">
        <div class="tile-content">
          <h2>Cedars Hall</h2>
          <p>Wells Cathedral School's RIBA-Award winning venue. The perfect setting for finding inspiration.</p>
        </div>
      </div>
      <div id="eavis_auditorium" class="tile-image">
      </div>
    </article>
  </section>
</main>
