---
layout: default
---

<main>
  <section class="splash">
    <div class="splash-info">
      <div class="event-time"><time datetime="2018-05-18" class="dt-start">22-23 June 2018</time></div>
      <div class="event-title"><span class="ai">AI</span>Conf<span class="ai">.</span></div>
      <div class="event-strapline">An exploration of the future of education : how AI and Machine Learning will change our lives</div>
    </div>
  </section>
  <section class="tiles">
    <article class="tile tile-info">
      <div class="tile-content">
        <h2>A conference for leaders</h2>
        <p>Heads, Principals, CEOs, Senior Leaders - this conference is for you.</p>
        <p>What will education look like in 20 years? How will you manage the change?</p>
      </div>
    </article>
    <article class="tile-split">
      <div id="vicars_close" class="tile-image">
      </div>
      <div class="tile-text">
        <div class="tile-content">
          <h2>Wells, Somerset</h2>
          <p>It's where they filmed Hot Fuzz</p>
        </div>
      </div>
    </article>
    <article class="tile tile-info">
      <div class="tile-content">
        <h2>Insights from Industry Leaders</h2>
        <p>Keynote speakers will tell you things you didn't know about beforehand.</p>
      </div>
    </article>
    <article class="tile-split">
      <div class="tile-text">
        <div class="tile-content">
          <h2>Cedars Hall</h2>
          <p>It's a venue where you can listen to other people talking.</p>
        </div>
      </div>
      <div id="eavis_auditorium" class="tile-image">
      </div>
    </article>
  </section>
</main>
